<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles/libraries/bootstrap.min.css" rel="stylesheet">
    <link href="styles/libraries/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/style.less" rel="stylesheet/less">
  </head>
  <body ng-app="atomApp" ng-controller="atomCtrl">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="nav-header">
          <img class="header-logo" src="images/Atom_icon.png" alt="Brand"/>
        </div>
        <div class="nav-search">
          <span class="glyphicon glyphicon-search glyph"></span>
          <input type="text" class="form-control clearable" placeholder="Search" ng-model="searchText" ng-keyup="showSearch()"/>
          <div close-search value="hideSearch()" class="search-window" ng-show="searchPanel">
            <span class="search-title">Cards</span>
            <hr/>
            <div ng-repeat="list in filteredCard = (listArray | filter:searchText)">
              <div class="search-results" ng-repeat="card in list.cards | filter:searchText">
                <span uib-tooltip="Click to show details of card" ng-bind="card.cardValue" ng-click="hideSearch(); showCardDetails(list.listKey, card.cardKey, card.cardValue, list.listName);"></span>
                <p>in list</p>
                <span ng-bind="list.listName"></span>
                <hr/>
              </div>
            </div>
            <span ng-show="!filteredCard.length">No results found</span>
          </div>
        </div>
      </div>
    </nav>
      <div class="board-container">

        <div class="list-wrapper mod-add" ng-repeat="list in listArray">
          <div class="list-content">
            <edit-in-place uib-tooltip="Click to edit list" tooltip-placement="bottom" value="list.listName" key="list.listKey" list="true" class="list-title" item-click="updateList(listName, listKey)"></edit-in-place>
              <span uib-tooltip="Click to delete list" tooltip-placement="left" class="fa fa-trash glyph" ng-click="confirmDeleteList(list.listKey)"></span>
          </div>

          <div uib-tooltip="Click to show card details" class="list-content card-content" ng-repeat="card in list.cards" ng-click="showCardDetails(list.listKey, card.cardKey, card.cardValue, list.listName, card.cardDescription)">
            <span ng-bind="card.cardValue"></span>
            <span uib-tooltip="Click to delete card" tooltip-placement="bottom" class="fa fa-times right" ng-click="confirmDeleteCard($event, list.listKey, card.cardKey)"></span>
          </div>

          <div uib-tooltip="Click to add a card" class="card-header list-content" ng-hide="activeCard" ng-click="activeCard=true">
            <span class="placeholder">Add a card...</span>
          </div>

          <div class="list-wrapper mod-add card-textarea" ng-show="activeCard">
            <form role="form">
              <textarea msd-elastic class="form-control" ng-model="cardValue" autofocus ng-required ng-trim="true"></textarea>
              <button ng-show="cardValue" class="btn btn-primary mt10 mr5" ng-click="createCard(cardValue, list.listKey); cardValue=''">Save</button>
              <span uib-tooltip="Close" class="fa fa-times fa-2x close-list" ng-click="activeCard=false"></span>
            </form>
          </div>
        </div>

        <div uib-tooltip="Click to add a list" class="list-wrapper mod-add is-idle" ng-hide="activeList" ng-click="activeList=true">
          <div>
            <span class="placeholder">Add a list...</span>
          </div>
        </div>

        <div class="list-wrapper mod-add" ng-show="activeList">
          <form role="form">
            <input type="text" class="form-control" placeholder="Add a list..." autofocus ng-model="listName" ng-trim="true"/>
            <button ng-show="listName" class="btn btn-primary mt10 mr5" ng-click="createList(listName); activeList=false; listName=''">Save</button>
            <span uib-tooltip="Close"class="fa fa-times fa-2x close-list" ng-click="activeList=false; listName=''"></span>
          </form>
        </div>
      </div>
    <script src="scripts/libraries/angular.min.js"></script>
    <script src="scripts/libraries/angular-animate.min.js"></script>
    <script src="scripts/libraries/angular-aria.min.js"></script>
    <script src="scripts/libraries/jquery-2.1.4.min.js"></script>
    <script src="scripts/libraries/ui-bootstrap-tpls-0.14.2.js"></script>
    <script src="scripts/libraries/less.min.js"></script>
    <script src="scripts/libraries/elastic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/services/atom-service.js"></script>
    <script src="scripts/controllers/atom-controller.js"></script>
    <script src="scripts/directives/edit-in-place.directive.js"></script>
    <script src="scripts/directives/handle-click.directive.js"></script>
  </body>
</html>
