.mt10 {
  margin-top: 10px;
}

.mr5 {
  margin-right: 5px;
}

body {
  background-color: #808080;
  width: 100%;
  height: auto;
}

.md-toolbar-tools {
  background-color: #D3D3D3;
  .md-button.md-default-theme {
    border-radius: 99%;
  }
}
.header-logo {
  width: 18%;
  height: auto;
}
.list-wrapper {
  width: 270px;
  margin: 10px 5px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  &.mod-add {
    height: auto;
    min-height: 30px;
    padding: 4px;
    border-radius: 3px;
    background-color: #e2e4e6;
    &.is-idle {
      background: rgba(0,0,0,.12);
      color: white;
      cursor: pointer;
      padding: 10px;
    }
  }
  .close-list {
    vertical-align: middle;
  }
}
